@import url(../DesignSystem.css);

.search-button {
    background: var(--cor-primaria-botao);
    border: none;
    border-radius: 0px 12px 12px 0px;
    cursor: pointer;
}

.search-button:hover {
    background: linear-gradient(180deg, var(--cor-primaria-60) 0%, var(--cor-primaria-80) 100%);

    svg {
        fill: var(--branco);
    }
}

.search-button:active {
    background: var(--cor-secundaria);
}
