@import url(../DesignSystem.css);

.solid-button {
    display: flex;
    flex-flow: row nowrap;
    font: var(--H5);
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    padding: 18px 32px 18px 32px;
    gap: 12px;
    color: var(--branco);
    border: none;
    border-radius: 6px;
    background: var(--cor-primaria-botao);
    box-shadow: var(--elevacao-02dp);
    cursor: pointer;
    
    .icon-button {
        fill: var(--branco);
    }
}

.solid-button:hover {
    color: var(--branco);
    background: linear-gradient(180deg, var(--cor-primaria-60) 0%, var(--cor-primaria-80) 100%);
    
    .icon-button {
        fill: var(--branco);
    }
}

.solid-button:active {
    background: var(--cor-secundaria);
}