@import url(../DesignSystem.css);

#container {
    position: fixed;
    width: 1440px;
    height: 192px;
    background-color: var(--cor-secundaria-05);
    box-shadow: var(--elevacao-08dp);
    border-radius: 0px 0px 30px 30px;
    overflow: hidden;
}

.conteudo {
    display: flex;
    flex-flow: column nowrap;
    position: absolute;
    z-index: 2;
    margin-top: 15px;
    margin-bottom: 15px;
}

.linha1 {
    gap: 64.6px;
}

.linha2 {
    margin-top: 15px;
    gap: 67.5px;
}

.linha1, .linha2 {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-left: 30px;
}

.logo {
    margin: 0px 5px 0px 5px;
    cursor: pointer;
}

.grafismo01 {
    position: absolute;
    left: 0%;
}


.grafismo02 {
    position: absolute;
    right: 0%;
}

